# EVEV not ignore?
public/icons/
public/data/



tmp.md
todo.md
project-structure.txt
AGENTS.md

# Build output
dist/
build/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VSCode settings
.vscode/

# Cursor / editor temp files
.cursor/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# OS files
.DS_Store
Thumbs.db
